@import "compass";
@import "compass/reset";

* {
    @include box-sizing(border-box)
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

p {
    line-height: 1.2em;
}

b {
    font-weight: bold;
}

h1, h2, h3, h4 {
    font-weight: 300;
}

input[type=number] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
 }

h1 {
    font-size: 2.2em;
    line-height: 1.1em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    line-height: 1.1em;
    margin-bottom: 0.4em;
}

h3 {
    font-size: 1.8em;
    line-height: 1.1em;
    margin-bottom: 0.3em;
}

h4 {
    font-size: 1.6em;
    line-height: 1.1em;
    margin-bottom: 0.2em;
}

h5 {
    font-size: 1.4em;
    line-height: 1.1em;
    margin-bottom: 0.1em;
}

hr {
    border-top: 1px solid #e2e2e2;
}

.container-fluid {
    padding-left: 1em;
    padding-right: 1em;
}

#home {

    @media (min-width: 0px) {
        padding-top: 60px;
    }

    @media (min-width: 992px) {
        padding-top: 160px;
    }


    h2 {
        margin-bottom: 1em;
    }

    input[type=button], input[type=submit] {
        margin: 1em 0.5em;
        padding: 1em 2em;
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid #2C3E50;
        border-radius: 5px;
        font-size: 1em;
        text-transform: uppercase;
        @include transition(all 0.15s linear);

        &:hover {
            cursor: pointer;
            background-color: rgba(44, 62, 80, 0.2);
        }
    }

    input[type=text], input[type=password], input[type=email] {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: 1px solid #2C3E50;
        margin-bottom: 0.5em;
        width: 100%;
    }
}

input[type=text], input[type=password], input[type=email] {
    padding: 0.5em 0.5em 0.2em 0.5em;
    font-size: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:focus {
        outline: 0;
    }
}

.navigation {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    hr {
        margin: 0;
        background-color: #20E5BE;
    }
    li {

        a {
            color: #000;
            &.active {
                background-color: #CAD4DE;
            }

            &:hover {
                background-color: #E0E6EC;
            }

            &:active {
                background-color: #8A98A6;
                color: #000;
            }
            display: block;
            padding: 12px 20px;
            text-decoration: none;
        }
    }
}

.error {
    border-color: red;
}

#main, #sidebar {
    float: none;
    vertical-align: top;
}

#sidebar {
    display: none;
    @media (min-width: 768px) {
        background-color: #FFFFFF;
        position: fixed;
        width: 200px;
        height: 100%;
        left: 0;
        display: table-cell;
    }
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));
}

.navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
}

.modal-open {
    overflow: auto;
}

#main {
    background-color: #FFFFFF;
    padding: 1em;
    height: 100%;
    display: table;
    width: 100%;

    @media (min-width: 768px) {
        width: calc(100% - 200px);
        float: right;
    }

    input[type=button], input[type=submit] {
        outline: none;
        font-weight: 500;
        margin: 1em 1em;
        padding: 0.7em 2.5em;
        background-color: rgb(63,81,181);
        color: #ffffff;;
        border: 1px solid #2C3E50;
        font-size: 1em;
        text-transform: uppercase;
        @include transition(all 0.15s linear);
        @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));

        &:hover {
            @include box-shadow(0px 8px 17px rgba(0, 0, 0, 0.2));
        }
    }
}

a {

    text-decoration: none;
    color: #34AADC;
    &:hover {
        color: #007AFF;
    }
}

table {
    thead {
        tr {
            th {
                &:first-child {
                    padding-left: 0.5rem;
                }
                font-weight: 300;
                padding: 1.2rem 0.2rem 0.5em 0.2em;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: rgba(0,0,0,0.035);
                }
            }

            td {
                &:first-child {
                    padding-left: 0.5rem;
                }
                &:last-child {
                    padding-right: 0.5rem;
                }
                @include transition(all 0.1s ease-in);
                padding: 0.5rem 0.2rem;
                font-weight: 300;
                border: none;
            }
        }
    }
}

.document-card, .add-document-card {
    min-height: 150px;
    max-height: 150px;
}

.loan-card {
    min-height: 120px;
    max-height: 120px;
}

.card {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 0.5em;
    display: inline-block;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));

    p {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#sidebar-wrapper {
    background-color: #333840;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 90px;
    height: 100%;
    z-index: 1;
}

.sidebar-nav {
    list-style: none;

    li {

        &.active {
            border-left: 3px solid #4FC1E9;
            a {
                color: #F5F7FA;
            }
        }
        a {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 5px;
            &:hover {
                color: #E6E9ED;
                text-decoration: none;
            }
            &:active, &:focus {
                color: #F5F7FA;
                text-decoration: none;
            }
            min-height: 63px;
            color: #CCD1D9;
            display: block;
            text-decoration: none;
            text-align: center;

            overflow: hidden;
            text-overflow: ellipsis;
            span {
                font-size: 0.8em;
                white-space: nowrap;
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
            }

            & > i {
                font-size:2em;
                padding-bottom: 5px;
            }
        }
    }
}
#sidebar-wrapper.sidebar-toggle {
    transition: all 0.3s ease-out;
    margin-left: -200px;
}

img.document-miniature {
    float: right;
    padding-left: 5px;
    max-width: 55px;
}

.social-bar {
    display: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper.sidebar-toggle {
        overflow-y: auto;
        transition: 0s;
        left: 200px;
    }

    .main-content, .navbar-brand {
        position: absolute;
        right: 0;
        left: 90px;
    }

    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
        padding-left: 15px;
    }

    .social-bar {
        z-index: 60;
        display: block;
        padding-top: 10px;
        background-color: #F5F7FA;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 52px;
        max-width: 240px;
        overflow-y: auto;
        ul {
            li {
                padding-top: 1em;
                padding-bottom: 1em;
                border-bottom: 1px solid #e4e4e4;

                .icon {
                    float: left;;

                    img {
                        border-radius: 30px;
                        width: 30px;
                        height: 30px;
                    }
                }

                .content {
                    margin-left: 40px;
                    margin-right: 10px;
                }
            }
        }
    }
}

.navbar {
//    margin-bottom: 0;
}

.app-content {
    padding-bottom: 5em;
}

.menu-dropdown {
    position: absolute;
    bottom: 1.2em;
    left: 0;
    right: 0;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    &.align-right {
        padding-right: 25px;
        text-align: right;
    }

    .btn-group {
        &.open {
            .dropdown-toggle {
                box-shadow: none;
            }
        }

        .button-card {
            padding: 0 5px;
            border-color: transparent;
            background-color: transparent;
            box-shadow: none;
            font-size: 1.2em;

            &:hover {
                background-color: transparent;
            }
        }
    }

    .dropdown-menu {
        li {
            p {
                padding: 3px 20px;
            }
        }
    }
}

.document-detail-button {
  margin-top: 1em;
  .btn-group {
    margin-left: 10px;
    &.open {
      .dropdown-toggle {
        box-shadow: none;
      }
    }

    .button-card {
      padding: 0 5px;
      border-color: transparent;
      background-color: transparent;
      box-shadow: none;
      font-size: 1.2em;

      &:hover {
        background-color: transparent;
      }
    }
  }
}


.tooltip {
    @include box-shadow(0px 2px 5px 0 rgba(0, 0, 0, 0.26));
    font-size: 1rem;
    line-height: 1.1;
    filter: alpha(opacity=0);
    opacity: 0;
    font-weight: bold;

    &.in {
        filter: alpha(opacity=100);
        opacity: 1
    }

    &.top {
        padding: 0;
        margin-top: 0
    }

    &.right {
        padding: 0;
        margin-top: 0
    }

    &.bottom {
        padding: 0;
        margin-bottom: 10px;
    }

    &.left {
        padding: 0;
        margin-top: 0
    }

}

.tooltip-inner {
    max-width: 200px;
    color: #000;
    text-align: center;
    text-decoration: none;
    background-color: rgba(255,255,255,0.9);
    border-radius: 2px;
    padding: 7px 10px;
}

.tooltip-arrow {
    display: none;
}

.alert-container {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 50;
    margin-left: 15px;
    margin-right: 15px;

    @media (min-width: 768px) and (max-width: 991px) {
        margin-left: 150px;
        margin-right: 60px;
    }

    @media (min-width: 992px) {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.alert {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &.alert-success {
        border-color: transparent;
        background-color: rgba(46, 204, 113, .8);
        color: #434A54;
    }

    &.alert-danger {
        border-color: transparent;
        background-color: rgba(252, 110, 81, .8);
        color: #434A54;
    }

    button.close {
        opacity: 1;
        text-shadow: none;
    }
}

.alert.ng-enter, .alert.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.alert.ng-enter {
    transform: translateY(-300px);
}
.alert.ng-enter-active {
    transform: translateY(0);
}

.alert.ng-leave {
    opacity: 1;
}
.alert.ng-leave-active {
    opacity: 0;
}

.activity-panel {
    overflow-x: hidden;
}

.activity.ng-enter, .activity.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.activity.ng-enter {
    transform: translateX(300px);
}
.activity.ng-enter-active {
    transform: translateX(0);
}

.activity.ng-leave {
    opacity: 1;
}
.activity.ng-leave-active {
    opacity: 0;
}

.activity.ng-enter-stagger {
    @include transition-delay(0.1s);
    @include transition-duration(0s);
}

.card-fade.ng-enter {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.card-fade.ng-enter {
    opacity: 0;
}
.card-fade.ng-enter-active {
    opacity: 1;
}

.card-fade.ng-enter-stagger {
    @include transition-delay(0.05s);
    @include transition-duration(0s);
}

.contact-card, .add-contact-card, .media-card, .add-media-card {
    min-height: 85px;
}

.group-card, .add-group-card {
    min-height: 100px;
}

.group-card {
    .group-type {
        padding-top: 0.5em;
        color: #9E9E9E;
    }
}

.add-contact-card, .add-media-card, .add-document-card, .add-group-card {
    text-align: center;

    a.fa {
        text-decoration: none;
        font-size: 2.5em;
    }
}

.add-document-card {
    padding-top: 30px;
}

.collection-dropdown {
    li {
        a {
            cursor: pointer;
            &:hover {
                background-color: #F5F7FA;
            }
        }
    }
}
.document-detail-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.document-detail-type {
  margin-top: 1em;
}

.search-contact {
  display: block;
}

.post {

  .post-author {
    font-size: 1.5em;
  }
  .post-date {
    color: #b4b4b4;
    small {
      color: #cbcbcb;
    }

  }
  .post-message {
    white-space: pre;

  }

  hr {
    margin: .5em 0;
  }
}

.post-edit {
  textarea {
    outline: none;
    resize: none;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 5em;
    border: 1px solid grey;

    &:focus {
      border: 1px solid dimgrey;
    }
  }
}