<div class="container-fluid activity-panel" ng-show="connected" ng-controller="ActivityCtrl" style="padding-left: 0;padding-right: 0;">

    <p><b>Dernières activités</b></p>
    <p style="font-size: 0.9em;"><a href="" ng-click="updateActivities()"><b><i class="fa fa-refresh"></i> Mettre à jour</b></a></p>
    <ul>
        <li ng-show="activities.length == 0 && activitiesLoaded">Aucune activité de la part de vos contacts :(</li>
        <li ng-repeat="activity in activities" class="activity">
            <div class="icon"><img ng-src="{{ activity.member.profilePicture }}" alt=""/></div>
            <div class="content">
                <a href="{{ activity.member.detail }}" ng-href="{{ activity.member.detail }}"><span ng-bind="activity.member.name" style="font-weight: bold;"></span></a>
                <span ng-bind="activity.label"></span>
                <a href="{{ activity.target.detail }}" ng-href="{{ activity.target.detail }}"><span ng-bind="activity.target.name"></span></a>
            </div>
        </li>
    </ul>
</div>

