<h3>Liste des contacts</h3>

<h4>Trouver des contacts</h4>
<p ng-hide="members.length == 0">{{members.length}} personnes trouvées</p>
<input type="text" ng-model="search"/>
<div class="row">
    <div class="col-lg-3" ng-repeat="member in members | filter:search">
        <div class="card">
            <h1 ng-bind="member.name"></h1>
            <a ng-href="{{member.detail}}" href="{{member.detail}}"><i class="fa fa-eye"></i></a><br/>
            <a ng-click="addContact(member.id)" href="" ng-hide="member.inContacts == true"><i class="fa fa-user-plus"></i></a>
            <a ng-click="removeContact(member.id)" href="" ng-show="member.inContacts == true"><i class="fa fa-user-times"></i></a>
        </div>
    </div>
</div>

<h4>Mes contacts ({{contacts.length}} personnes)</h4>
<div class="row">

    <div class="col-lg-3" ng-repeat="member in contacts">
        <div class="card">
            <h1 ng-bind="member.name"></h1>
            <a ng-href="{{media.detail}}" href="{{member.detail}}"><i class="fa fa-eye"></i></a><br/>
            <a ng-click="removeContact(member.id)" href=""><i class="fa fa-user-times"></i></a>
        </div>
    </div>
</div>
