<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Tableau de bord</b></p>

<!-- Document récents ajoutés -->

<p><b>Vos derniers documents ajoutés</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="myDocumentsLoaded">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="myDocumentsLoaded && myDocuments.length == 0">
    <p><b>Vous ne possédez encore aucun document</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in myDocuments | filter:search">
        <my-document-card></my-document-card>
    </div>
</div>
<div class="row" style="text-align: center; margin-top: 1em;">
    <a href="{{document}}" ng-href="{{document}}"><b>Accéder à mes documents</b></a>
</div>

<!-- Fin document récents ajoutés -->

<hr/>

<!-- Derniers prets -->

<p><b>Vos derniers prêts</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="loans">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="loans.length == 0">
    <p><b>Vous n'avez pas encore de prêts</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-md-4 col-lg-3 card-fade" ng-repeat="loan in loans">
        <my-loan-resume-card></my-loan-resume-card>
    </div>
</div>

<div class="row" style="text-align: center; margin-top: 1em;">
    <a href="{{loan}}" ng-href="{{loan}}"><b>Accéder à mes prêts</b></a>
</div>

<!-- Fin derniers prets -->


<hr/>

<!-- Derniers contacts -->

<p><b>Vos derniers contacts</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="contacts">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="contacts.length == 0">
    <p><b>Vous n'avez pas encore de contacts</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="member in contacts">
        <dashboard-contact-card></dashboard-contact-card>
    </div>
</div>

<div class="row" style="text-align: center; margin-top: 1em;">
    <a href="{{social}}" ng-href="{{social}}"><b>Accéder à mes contatcs</b></a>
</div>

<!-- Fin derniers contacts -->

<hr/>

<!-- Derniers comments de l'user -->

<p><b>Vos derniers commentaires</b></p>
<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="latestComments">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="latestComments.length == 0">
    <p><b>Vous n'avez pas encore commenté de document</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="comment in latestComments">
        <latest-comment-card></latest-comment-card>
    </div>
</div>

<!-- Fin derniers comments -->

<hr/>
<!-- Statistiques du Dashboard -->

<p><b>Quelques statistiques à propos de votre compte</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="statistics">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" ng-show="statistics">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="statistic in statistics">
        <div class="card">
            <p><b ng-bind="statistic.name"></b></p>
            <h3 style="text-align: center;">{{statistic.data}}</h3>
        </div>
    </div>
</div>

<div class="row" style="text-align: center; margin-top: 1em;">
    <a href="{{profile}}" ng-href="{{profile}}"><b>Accéder à mon compte</b></a>
</div>

<!-- Fin statistiques du Dashboard -->
