<p class="document-detail-title"><b ng-bind="document.name"></b></p>

<div class="col-xs-12">
    <img src="{{document.largeImage}}" alt="Image document" style="max-width: 100%"/>
</div>

<p class="document-detail-type">Type : <b ng-bind="document.type"></b></p>
<p>Auteur : <b ng-bind="document.author"></b><b ng-bind="document.band"></b></p>
<div class="document-detail-button">
    <div style="position: relative;">
        <bookmark-dropdown></bookmark-dropdown>
        <wishlist-button ng-show="fullLoaded && !isIn"></wishlist-button>
        <i class="fa fa-cog fa-spin" ng-hide="fullLoaded"></i>
        <div class="btn-group">
            <button type="button" class="button-card" ng-click="addToCollection(document.id)" data-toggle="tooltip" data-placement="top" title="Ajouter aux documents" tooltip ng-hide="isIn">
                <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-show="isIn">
                <i class="fa fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="removeFromCollection(document.id)">Supprimer de mes documents</a></li>
            </ul>
        </div>
    </div>
</div>

<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Ajouter un commentaire :</b></p>
<form ng-submit="addComment(document.id)" name="newCommentForm">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6" style="margin-top: 0.5em;margin-bottom: 0.5em;">
            <textarea id="newMessage" key-submit="addComment(document.id)" name="message" ng-model="newMessage" rows="3" required placeholder="Commentaire" style="width: 100%;"></textarea>
        </div>
    </div>

    <input class="btn btn-default" ng-disabled="newCommentForm.$invalid" type="submit"> <i class="fa fa-cog fa-spin" style="font-size: 1em;" ng-show="addCommentWorking"></i>
</form>

<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Commentaires à propos de l'oeuvre</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="comments">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<p ng-show="comments.length == 0"><b>Aucun commentaire pour le moment... Lancez-vous !</b></p>
<div class="row card-fade" ng-repeat="comment in comments">
    <div class="col-xs-12">
        <div class="card">
            <p><b ng-bind="comment.author.name"></b> à <span ng-bind="comment.createdAt"></span> <span ng-hide="comment.updatedAt == comment.createdAt">(Dernière édition à {{ comment.updatedAt}})</span>
                <a ng-click="editCommentShow = !editCommentShow" href="" ng-show="authorId === comment.author.id || isAdmin"><i class="fa fa-pencil"></i></a>
                <a ng-click="deleteComment(document.id, comment.id)" href="" ng-show="authorId === comment.author.id  || isAdmin"><i class="fa fa-times"></i></a></p>
            <p ng-bind="comment.message" ng-show="!editCommentShow" style="margin-top: 0.5em;margin-bottom: 1em;margin-left: 1em;"></p>
            <form ng-submit="editComment(document.id, comment.id, comment.editMessage)" name="editCommentForm" ng-show="editCommentShow">
                <textarea name="editMessage" ng-model="comment.editMessage" required ng-init="comment.editMessage=''+comment.message" ></textarea>
                <input ng-disabled="editCommentForm.$invalid" type="submit"> <i class="fa fa-cog fa-spin" style="font-size: 3em;" ng-show="editCommentWorking"></i>
            </form>
        </div>
    </div>
</div>

<div class="row text-center" ng-show="comments.canLoad"><a href="" ng-click="moreLatestComments()"><b>Charger plus de commentaires</b></a></div>
<div class="row text-center" ng-hide="comments.canLoad || comments.length == 0"><p><b>Aucun autre commentaire à afficher</b></p></div>

<script type="text/javascript">
    $(document).on('click', '.dropdown-menu', function(e){
        e.stopPropagation();
    });
</script>
