<h3>Genres de documents</h3>

<a href="{{createDocumentKind}}" ng-href="{{createDocumentKind}}">Ajouter un genre de document</a>

<div class="row">
    <div class="col-lg-3" ng-repeat="kind in kinds">
        <div class="card">
            <h1 ng-bind="kind.name"></h1>
            <a ng-href="{{kind.edit}}" href="{{kind.edit}}"><i class="fa fa-pencil"></i></a><br/>
            <a ng-href="{{kind.delete}}" href="{{kind.delete}}"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>
