<p style="margin-top: 1em;margin-bottom: 0.5em;"><b ng-bind="title"></b></p>

<form ng-submit="submit()" name="newGroup">
    <input type="text" ng-model="group.name" placeholder="Nom" required/><br/>
    <select required ng-model="group.type" style="margin-top: 1em;">
        <option value="0">Sélectionnez un type</option>
        <option ng-repeat="type in types" value="{{type.id}}">{{ type.name }}</option>
    </select><br/>
    <input style="margin-top: 1em;" ng-disabled="newGroup.$invalid || group.type==0" class="btn btn-default" type="submit"/> <i class="fa fa-cog fa-spin" style="font-size: 3em;" ng-show="addGroupWorking"></i>
</form>