<div class="row" style="text-align: center; margin-top: 2em;" ng-show="checkingRights">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>
<div ng-hide="checkingRights">

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="group">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<p style="margin-top: 1em;margin-bottom: 0.5em;"><b ng-bind="group.name"></b> (<span ng-bind="group.type.name"></span>)</p>
<p style="margin-top: 1em;"><a ng-href="{{group.users}}"><i class="fa fa-user"></i> Utilisateurs</a></p>
<p><a ng-show="loggedMember.right.level < 3" ng-href="{{group.banned}}"><i class="fa fa-user-times"></i> Bannis</a></p>
<a ng-show="loggedMember.right.level < 3" href="" ng-click="toggleEditModal()"><i class="fa fa-pencil"></i> Modifier le groupe</a>
<p ng-hide="loggedMember || !group.type.selfjoinable"><a href="" class="btn btn-primary" ng-click="join()">Rejoindre le groupe</a></p>

<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Poster un message</b></p>
<form ng-show="loggedMember" ng-submit="addPost(group.id)" name="newPostForm">
    <textarea id="newMessage" key-submit="addPost(group.id)" name="message" ng-model="newMessage" required placeholder="Envoyer avec ⌘ + Entrer"></textarea><br/>
    <input ng-disabled="newPostForm.$invalid" class="btn btn-default" type="submit"><i class="fa fa-cog fa-spin" style="font-size: 3em;" ng-show="addPostWorking"></i>
</form>


<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Messages</b></p>
<p ng-show="posts.length == 0"><b>Aucun post pour le moment... Lancez-vous !</b></p>

<div class="row" ng-repeat="post in posts">
    <div class="col-md-12 col-lg-10">
        <div class="card post">
            <p>
                <a ng-href="{{post.author.link}}" href=""><b ng-bind="post.author.name"></b></a> à
                <span ng-bind="post.createdAt"></span>
                <small ng-hide="post.updatedAt == post.createdAt">(Dernière édition à <span ng-bind="post.updatedAt"></span>)</small>
                <span ng-show="loggedMember.member.id == post.author.id || loggedMember.right.level < 3">
                    <a ng-click="toggleEditPostModal(post)" href=""><i class="fa fa-pencil"></i></a>
                    <a ng-click="deletePost(group.id, post.id)" href=""><i class="fa fa-times"></i></a>
                </span>
            </p>
            <p style="margin-top: 0.5em;margin-bottom: 1em;margin-left: 1em;" class="post-message" ng-bind="post.message"></p>
        </div>
    </div>
</div>
<div class="row text-center" ng-show="posts.canLoad"><a class="btn btn-primary" href="" ng-click="moreLatestPosts()">Plus de posts</a></div>
<div class="row text-center" ng-hide="posts.canLoad || posts.length == 0"><p><b>Aucun autre post à afficher</b></p></div>

<edit-modal title="Modifier le groupe" visible="showEditModal">
    <form ng-submit="editGroup()" name="editGroupForm">
        <p>
            <label>
                Nom du groupe :
                <input type="text" ng-model="edit.name" required placeholder="Nom du groupe">
            </label>
        </p>
        <p>
            <label>
                Type du groupe :
                <select required ng-model="edit.type">
                    <option value="0">Sélectionnez un type</option>
                    <option ng-repeat="type in types" value="{{type.id}}">{{ type.name }}</option>
                </select>
            </label>
        </p>
        <button class="btn btn-success" ng-disabled="editGroupForm.$invalid || edit.type == 0" type="submit">
            <i class="fa fa-check"></i> Sauvegarder
        </button>
        <i class="fa fa-cog fa-spin" ng-show="editGroupWorking"></i>
    </form>
    <p>
    </p>

    <hr>

    <a class="btn btn-danger" ng-click="deleteGroup(group.id)" href=""><i class="fa fa-times"></i> Supprimer le groupe</a>
    <i class="fa fa-cog fa-spin" ng-show="deleteGroupWorking"></i>

</edit-modal>

<edit-modal class="post-edit container-fluid" title="Modifier le post" visible="showEditPostModal">
    <form ng-submit="editPost()" name="editPostForm">
        <div class="row">
            <label class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                Message :
                <textarea key-submit="editPost()" ng-model="editPost.message" required placeholder="Envoyer avec ⌘ + Entrer"></textarea>
            </label>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <button class="btn btn-success" ng-disabled="editPostForm.$invalid" type="submit">
                    <i class="fa fa-check"></i> Sauvegarder
                </button>
                <i class="fa fa-cog fa-spin" ng-show="editPostWorking"></i>
            </div>
        </div>
    </form>
    <p>
    </p>

    <hr>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
            <a class="btn btn-danger" ng-click="deletePost(group.id, editPost.id)" href=""><i class="fa fa-times"></i> Supprimer le post</a>
            <i class="fa fa-cog fa-spin" ng-show="deletePostWorking"></i>
        </div>
    </div>
</edit-modal>

</div>
