<div class="row" style="text-align: center; margin-top: 2em;" ng-show="checkingRights">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>
<div ng-hide="checkingRights">

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="members">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<h1><a ng-href="{{group.url}}" href="{{group.url}}">{{group.name}}</a></h1>
<h2>Bannis</h2>


<p>Rechercher ou ajouter un membre : <input type="text" ng-model="search" placeholder="Entrer un nom de membre"/></p>
<p style="color: #ED5565;" ng-show="search.length < 4 && search.length > 0">4 caractères sont nécessaires pour lancer la recherche</p>
<h5 ng-show="searchWorking" style="margin-top: 0.5em; display: inline-block;">Résultats</h5>
<p style="display: inline-block;" ng-hide="searchResults.length == 0">
    <span ng-hide="searchResults.length == 0 || searchResults.length == 1 || !searchResults">({{searchResults.length}} résultats)</span>
    <span ng-show="searchResults.length == 1">(1 résultat)</span>
</p>
<p ng-show="searchResults.length == 0 && !searchWorking"><b>Aucun résultat</b></p>
<div class="row" style="text-align: center; margin-top: 2em;" ng-show="searchWorking">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>
<div class="row">
    <div class="col-lg-2" ng-repeat="result in searchResults">
        <div class="card">
            <p><a ng-href="{{result.detail}}" href="{{result.detail}}">{{result.member.name}}</a></p>
            <p ng-show="result.inGroup"><small>dans le groupe ({{result.role}})</small></p>
            <a ng-click="toggleNewBanModal(result)" href="" ><i class="fa fa-flag"></i> Ban</a>
        </div>
    </div>
</div>
<div class="row" style="text-align: center; margin-top: 1em;">
    <p ng-show="searchResults.canLoad"><a class="btn btn-primary" href="" ng-click="moreSearchMembers()">En afficher plus</a></p>
    <p ng-hide="searchResults.canLoad || searchResults.length == 0 || !searchResults"><b>Aucun autre membre à afficher</b></p>
</div>

<div class="row" ng-repeat="member in members">
    <div class="col-md-12 col-lg-10">
        <div class="card">
            <h4 ng-bind="member.member.name"></h4><p ng-bind="member.right.name"></p>
            <p>Banni par {{member.author.name}}, le {{member.createdAt}}</p>
            <p ng-show="member.endedAt">jusqu'au {{member.endedAt}}</p>
            <div ng-hide="member.message == null">
                <h5>Motif</h5>
                <p ng-bind="member.message"></p>
            </div>
            <div ng-show="member.message == null">
                <h5>Sans motif</h5>
            </div>
            <a ng-href="{{member.edit}}" href="{{member.edit}}"><i class="fa fa-pencil"></i></a>
            <a ng-click="unbanMember(member.id)" href=""><i class="fa fa-times"></i></a>
        </div>
    </div>
</div>

<p ng-show="members.length == 0">Aucun membre banni pour le moment</p>
<div class="row text-center" ng-show="members.canLoad"><a class="btn btn-primary" href="" ng-click="moreLatestMembers()">Plus de membres</a></div>
<div class="row text-center" ng-hide="members.canLoad"><p><b>Aucun autre membre à afficher</b></p></div>

<edit-modal class="post-edit container-fluid" title="Bannir un membre" visible="showBanModal">
    <p ng-bind="newBan.member.name"></p>
    <form ng-submit="banMember()" name="banForm">
        <div class="row">
            <label class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                Motif :
                <textarea key-submit="banMember()" ng-model="newBan.message" required placeholder="Envoyer avec ⌘ + Entrer"></textarea>
            </label>
        </div>
        <div class="row">
            <label class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                Date de fin (optionnelle) :
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="newBan.ended_at" is-open="dpopened" datepicker-options="dateOptions" close-text="Fermer" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDP($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
            </label>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <button class="btn btn-warning" ng-disabled="banForm.$invalid" type="submit">
                    <i class="fa fa-check"></i> Bannir le membre
                </button>
                <i class="fa fa-cog fa-spin" ng-show="banWorking"></i>
            </div>
        </div>
    </form>

</edit-modal>

<edit-modal class="post-edit container-fluid" title="Modifier un ban" visible="showEditBanModal">
    <p ng-bind="newBan.member.name"></p>
    <form ng-submit="banMember()" name="banForm">
        <div class="row">
            <label class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                Motif (optionnel) :
                <textarea key-submit="banMember()" ng-model="newBan.message" placeholder="Envoyer avec ⌘ + Entrer"></textarea>
            </label>
        </div>
        <div class="row">
            <label class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                Date de fin (optionnelle) :
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="newBan.ended_at" is-open="dpopened" close-text="Fermer" clear-text="Effacer" current-text="Ajd." />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openDP($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </label>
        </div>
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                <button class="btn btn-warning" type="submit">
                    <i class="fa fa-check"></i> Bannir le membre
                </button>
                <i class="fa fa-cog fa-spin" ng-show="banWorking"></i>
            </div>
        </div>
    </form>

    <hr>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
            <a class="btn btn-danger" ng-click="deleteBan()" href=""><i class="fa fa-times"></i> Supprimer le ban</a>
            <i class="fa fa-cog fa-spin" ng-show="editBanWorking"></i>
        </div>
    </div>
</edit-modal>

</div>