<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title>MySocialMedia</title>
    <link href="{{ rootPath }}/src/Lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="{{ rootPath }}/src/Stylesheet/homepage.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header" style="background: url('http://image.noelshack.com/fichiers/2015/13/1427573779-cloud.jpg') 50% 1px;">
    <p class="header-title">MySocialMedia</p>
    <p class="header-content" style="font-size: 1.5em">Gérez tous vos films, jeux vidéos, musiques et livres depuis un seul endroit.</p>
    <a href="{{ rootPath }}/register" class="btn-start">Inscrivez-vous gratuitement</a>
    <a href="{{ rootPath }}/login" class="btn-start login">Connectez-vous</a>
</div>
<div class="content" style="padding:50px 0 75px;">
    <p class="content-title">Gérez tous vos documents facilement</p>
    <p class="content-text">Recherchez et ajoutez les documents à votre collection ou votre liste de souhaits, en un clic.
        <br/>Vous souhaitez acheter des films ou des jeu vidéos ? Ajoutez-les à votre liste de souhaits pour ne plus l'oublier.
        <br/>Vous venez d'acheter des musiques ou des livres ? Un seul clic suffit pour les intégrer à votre collection.</p>
    <a href="{{ rootPath }}/register" class="btn-start blue">Inscrivez vous gratuitement</a>
</div>
<div class="img-panel" id="second" style="background: url('{{ rootPath }}/src/Image/social.jpg') 50% 1px;"></div>
<div class="content">
    <p class="content-title">Une dimension sociale</p>
    <p class="content-text">
        Retrouvez vos amis, découvrez des communautés de passionnés ou créez la vôtre, et partagez votre passion avec tout le monde !
        <br/>Un livre ou un film vous a touché ? Ajoutez votre commentaire sur chacune des oeuvres que vous souhaitez.
    </p>
    <a href="{{ rootPath }}/register" class="btn-start blue">Inscrivez vous gratuitement</a>
</div>
<div class="img-panel" id="third" style="background: url('{{ rootPath }}/src/Image/mobile.jpg') 50% 1px;"></div>
<div class="content" style="padding:50px 0 75px;">
    <p class="content-title">Un monde persistant</p>
    <p class="content-text">
        Accédez à tout votre contenu depuis votre téléphone, tablette ou ordinateur.<br/>
        Profitez du site comme vous le souhaitez, quand vous voulez, et où vous le choisissez ! <br/>
        Et bientôt un mode hors-ligne !
    </p>
    <a href="{{ rootPath }}/register" class="btn-start blue">Inscrivez vous gratuitement</a>
</div>

<script src="{{ rootPath }}/src/Lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="{{ rootPath }}/src/Javascript/parallax.js" type="text/javascript"></script>

</body>
</html>