<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Créer un emprunt</b></p>

<form method="POST" name="form" ng-submit="submit()">
<p style="color: red;" ng-bind="error"></p>

<input name="status" type="radio" value="borrow" id="borrow" ng-model="loan.status"/>
<label for="borrow">J'emprunte ces documents <span ng-show="loan.status == 'borrow'">à </span></label>
<input type="text" ng-show="loan.status == 'borrow'" name="lenderName" ng-model="loan.lender.name" placeholder="Nom" ng-required="loan.status == 'borrow'"/> <br/>

<input name="status" type="radio" value="lend" id="lend" ng-model="loan.status"/>
<label for="lend">Je prête ces documents <span ng-show="loan.status == 'lend'">à </span></label>
<input type="text" ng-show="loan.status == 'lend'" name="borrowerName" ng-model="loan.borrower.name" placeholder="Nom" ng-required="loan.status == 'lend'"/> <br/>
<div class="row">
    <div class="search-contact">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="member in ghostMembers">
            <contact-card-loan></contact-card-loan>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p style="margin-top: 1em;">
            <b>Documents (<span ng-show="loan.documents.length == 0">Aucun document</span><span ng-show="loan.documents.length == 1">{{loan.documents.length}} document</span><span ng-show="loan.documents.length > 1">{{loan.documents.length}} documents</span>)
            </b>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
        <add-document-card></add-document-card>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in loan.documents">
        <my-loan-document-card></my-loan-document-card>
    </div>
</div>

<div ng-show="displaySearch">
    <p style="margin-top: 1em;"><b>Recherche</b></p>
    <select-search></select-search>

    <p ng-show="searchLaunched" style="margin-top: 1em;"><b>Résultats de la recherche</b></p>

    <div class="row" style="text-align: center; margin-top: 2em;" ng-show="searchStarted">
        <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
    </div>

    <div class="row" style="text-align: center; margin-top: 1em;" ng-show="documents.length == 0">
        <p><b>Aucun document trouvé dans notre base</b></p>
    </div>

    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in documents">
            <search-loan-document-card></search-loan-document-card>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 2em;">
    <div class="col-xs-12">
        <input type="submit" class="btn btn-default" value="Créer l'emprunt"/>
    </div>
</div>
</form>
