<p><b>Editer un emprunt</b></p>

<form method="POST" name="form" ng-submit="submit()">
    <p style="color: red;" ng-bind="error"></p>

    <input name="status" type="radio" value="borrow" id="borrow" ng-model="loan.status"/>
    <label for="borrow">J'emprunte ces documents <span ng-show="loan.status == 'borrow'">à </span></label>
    <input type="text" ng-show="loan.status == 'borrow'" name="lenderName" ng-model="loan.lender.name" placeholder="Nom" ng-required="loan.status == 'borrow'"/> <br/>

    <input name="status" type="radio" value="lend" id="lend" ng-model="loan.status"/>
    <label for="lend">Je prête ces documents <span ng-show="loan.status == 'lend'">à </span></label>
    <input type="text" ng-show="loan.status == 'lend'" name="borrowerName" ng-model="loan.borrower.name" placeholder="Nom" ng-required="loan.status == 'lend'"/> <br/>

    <p style="margin-top: 1em;">
        <b>Documents (<span ng-show="loan.documents.length == 0">Aucun document</span><span ng-show="loan.documents.length == 1">{{loan.documents.length}} document</span><span ng-show="loan.documents.length > 1">{{loan.documents.length}} documents</span>)
        </b>
    </p>

    <p ng-show="loan.documents.length == 0"><b></b></p>

    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
            <add-document-card></add-document-card>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in loan.documents">
            <my-loan-document-card></my-loan-document-card>
        </div>
    </div>

    <div ng-show="displaySearch">
        <p style="margin-top: 1em;"><b>Recherche</b></p>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-2">
                <select style="width: 100%;" ng-model="filter">
                    <option value="0">Tous</option>
                    <option value="10">Livres</option>
                    <option value="11">&nbsp;&nbsp;&nbsp;Titres</option>
                    <option value="12">&nbsp;&nbsp;&nbsp;Auteurs</option>
                    <option value="13">&nbsp;&nbsp;&nbsp;Collections</option>
                    <option value="14">&nbsp;&nbsp;&nbsp;Editions</option>
                    <option value="15">&nbsp;&nbsp;&nbsp;ISBN</option>
                    <option value="20">Jeux Vidéos</option>
                    <option value="21">&nbsp;&nbsp;&nbsp;Titres</option>
                    <option value="22">&nbsp;&nbsp;&nbsp;Développeurs</option>
                    <option value="30">Musique</option>
                    <option value="31">&nbsp;&nbsp;&nbsp;Titres</option>
                    <option value="33">&nbsp;&nbsp;&nbsp;Groupes</option>
                    <option value="32">&nbsp;&nbsp;&nbsp;Albums</option>
                    <option value="34">&nbsp;&nbsp;&nbsp;Auteurs</option>
                    <option value="40">Films</option>
                    <option value="41">&nbsp;&nbsp;&nbsp;Titres</option>
                    <option value="43">&nbsp;&nbsp;&nbsp;Auteur</option>
                    <option value="42">&nbsp;&nbsp;&nbsp;Acteurs</option>
                </select>
            </div>
            <div class="col-lg-4">
                <input type="text" ng-model="search" placeholder="Entrez votre recherche" style="width: 100%;"/>
            </div>
        </div>
        <p style="color: #ED5565;" ng-show="search.length < 4 && search.length > 0">4 caractères sont nécessaires pour lancer la recherche</p>

        <p ng-show="searchLaunched" style="margin-top: 1em;"><b>Résultats de la recherche</b></p>

        <div class="row" style="text-align: center; margin-top: 2em;" ng-show="searchStarted">
            <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
        </div>

        <div class="row" style="text-align: center; margin-top: 1em;" ng-show="documents.length == 0">
            <p><b>Aucun document trouvé dans notre base</b></p>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in documents">
                <search-loan-document-card></search-loan-document-card>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 2em;">
        <div class="col-xs-12">
            <input type="submit" class="btn btn-default" value="Editer l'emprunt"/>
            <input type="button" ng-click="deleteLoan()" class="btn btn-success" value="Terminer l'emprunt"/>
            <input type="button" ng-click="deleteLoan()" class="btn btn-danger" value="Supprimer l'emprunt"/>
        </div>
    </div>
</form>
