<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Vos prêts <span ng-show="loans.length > 0">(<span ng-bind="loans.length"></span> <span ng-show="loans.length == 1">prêt</span><span ng-show="loans.length > 1">prêts</span>)</span></b></p>

<input type="text" ng-model="search.$" placeholder="Rechercher"/>

<table class="col-xs-12">
    <thead>
        <tr>
            <th>Prêteur</th>
            <th>Emprunteur</th>
            <th>Quantité</th>
            <th>Date de prêt</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide="loans">
            <td colspan="5" style="text-align: center;">
                <i class="fa fa-cog fa-spin" style="font-size: 2em;"></i>
            </td>
        </tr>
        <tr><td colspan="5" style="text-align: center;"><button ng-click="addLoanFunc()" class="btn btn-default"><i class="fa fa-plus"></i> Ajouter un prêt</button></td></tr>
        <tr ng-show="loans.length == 0"><td colspan="5"><b>Aucun prêt trouvé</b></td></tr>
        <tr ng-repeat="loan in loans | filter:search">
            <td><span ng-hide="loan.ghostLender">{{loan.lender.name}}</span><span ng-hide="loan.lender">{{loan.ghostLender.name}}</span></td>
            <td><span ng-hide="loan.ghostBorrower">{{loan.borrower.name}}</span><span ng-hide="loan.borrower">{{loan.ghostBorrower.name}}</span></td>
            <td ng-click="toggleLoanDetail($event, loan.id)">
                <a href="" style="text-decoration: none;">
                    <span ng-bind="loan.documents.length"></span>
                    <span ng-show="loan.documents.length == 1">document</span>
                    <span ng-show="loan.documents.length > 1">documents</span>
                    <span ng-hide="loan.showed"><i class="fa fa-caret-down"></i></span>
                    <span ng-show="loan.showed"><i class="fa fa-caret-up"></i></span>
                </a>
            </td>
            <td>{{loan.createdAt}}</td>
            <td>
                <button ng-click="detailLoan(loan.id)" style="margin-right: 10px;" class="btn btn-default"><i class="fa fa-pencil"></i> Editer</button>
                <button ng-click="removeLoan(loan.id)" class="btn btn-default"><i class="fa fa-check"></i> Terminer</button>
            </td>
        </tr>
    </tbody>
</table>