<p>
    <b ng-hide="inputEditName">{{media.name}}</b>
    <span ng-hide="inputEditName">
        <a href="" ng-click="editName()">
            <i class="fa fa-pencil"></i></a></span><span ng-show="inputEditName">
            <input type="text" ng-model="media.name"/><a href="" ng-click="setName()"> <i class="fa fa-check"></i>
        </a>
    </span>
</p>

<a href="" ng-click="setPrivate()" ng-show="media.public"><i class="fa fa-eye"></i> Médiathèque publique</a>
<a href="" ng-click="setPublic()" ng-hide="media.public"><i class="fa fa-eye-slash"></i> Médiathèque privée</a>


<div ng-show="displaySearch">
    <p style="margin-top: 1em;"><b>Recherche</b></p>
    <select-search></select-search>
    <p style="color: #ED5565;" ng-show="search.length < 4 && search.length > 0">4 caractères sont nécessaires pour lancer la recherche</p>

    <p ng-show="searchLaunched" style="margin-top: 1em;"><b>Résultats de la recherche</b></p>

    <div class="row" style="text-align: center; margin-top: 2em;" ng-show="searchStarted">
        <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
    </div>

    <div class="row" style="text-align: center; margin-top: 1em;" ng-show="documents.length == 0">
        <p><b>Aucun document trouvé dans notre base</b></p>
    </div>

    <div class="row">
        <div class="col-md-3 col-lg-2" ng-repeat="document in documents">
            <search-media-document-card></search-media-document-card>
        </div>
    </div>
</div>


<p style="margin-top: 1em;">
    <b>Documents de la médiathèque
        <span ng-show="media.documents.length > 0">({{media.documents.length}} documents)</span>
        <span ng-show="media.documents.length == 0">(Aucun document)</span>
    </b>
</p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="media.documents">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
        <add-document-card></add-document-card>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in media.documents">
        <my-media-document-card></my-media-document-card>
    </div>
</div>

