<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Vos médiathèques <span ng-show="medias.length > 0">(<span ng-bind="medias.length"></span> médiathèques)</span></b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="medias">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="medias.length == 0">
    <p>Vous n'avez aucune médiathèque, <a href="{{createMedia}}" ng-href="{{createMedia}}">créez-en une</a> !</p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
        <add-media-card></add-media-card>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="media in medias">
        <my-media-card></my-media-card>
    </div>
</div>
