<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Mes informations</b></p>

<p>Image de profil : <img ng-src="{{ infos.profilePicture }}" alt="" style="border-radius: 200px; max-width: 100px; max-height: 100px;"/></p>
<p>
    Nom :
    <span ng-show="nameEdition"><input type="text" ng-model="infos.name"/> <a href=""><i class="fa fa-check" ng-click="validateName()"></i></a></span>
    <span ng-hide="nameEdition"><b>{{infos.name}}</b> <a href=""><i class="fa fa-pencil" ng-click="editName()"></i></a></span>
</p>
<p>
    Email : <span><b>{{infos.email}}</b></span>
</p>


<hr/>

<!-- Statistiques du Dashboard -->

<p><b>Statistiques de votre compte</b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="statistics">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" ng-show="statistics">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="statistic in statistics">
        <div class="card">
            <p><b ng-bind="statistic.name"></b></p>
            <h3 style="text-align: center;">{{statistic.data}}</h3>
        </div>
    </div>
</div>


<!-- Fin statistiques du Dashboard -->