<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Social</b></p>

<!-- Recherche de membre -->

<hr/>

<div ng-show="showSearchM" style="margin-bottom: 1em;">
    <p style="margin-top: 1em;"><b>Recherche de membres</b> : <input type="text" ng-model="searchMember" placeholder="Nom d'une personne"/></p>

    <p style="color: #ED5565;" ng-show="search.length < 4 && search.length > 0">4 caractères sont nécessaires pour lancer la recherche</p>
    <p ng-show="contactSearchLaunched" style="margin-top: 0.5em; display: inline-block;"><b>Résultats <span ng-hide="members.length == 0 || members.length == 1 || !members">({{members.length}} résultats)</span>
        <span ng-show="members.length == 1">(1 résultat)</span></b></p>
    <p ng-show="members.length == 0 && contactSearchLaunched && !contactSearchStarted"><b>Aucun résultat</b></p>
    <div class="row" style="text-align: center; margin-top: 2em;" ng-show="contactSearchStarted">
        <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="member in members">
            <my-contact-card></my-contact-card>
        </div>
    </div>
</div>

<!-- Fin de recherche de membre -->

<!-- Mes contacts -->

<p><b>Vos contacts <span ng-hide="contacts.length == 0 || contacts.length == 1 || !contacts">({{contacts.length}} personnes)</span><span ng-show="contacts.length == 1">(1 personne)</span></b></p>
<p ng-show="contacts.length == 0"><b>Vous ne possédez encore aucun contact</b></p>
<div class="row" style="text-align: center; margin-top: 2em;" ng-show="contactLoadStarted">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
        <add-contact-card></add-contact-card>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="member in contacts">
        <my-contact-card></my-contact-card>
    </div>
</div>
<!--<div class="row" style="text-align: center; margin-top: 1em;" ng-show="contacts.canLoad">-->
    <!--<a href="" ng-click="moreContacts()"><b>En afficher plus</b></a>-->
<!--</div>-->
<!--<div class="row" style="text-align: center; margin-top: 1em;" ng-hide="contacts.canLoad">-->
    <!--<p><b>Aucun autre contenu à afficher</b></p>-->
<!--</div>-->

<!-- Fin de mes contacts -->

<hr/>

<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Groupes</b></p>

<input type="text" ng-model="search.$" placeholder="Nom du groupe"/>
<select name="" id="">
    <option value="0">Tous</option>
    <option ng-repeat="type in types" ng-value="type.id" ng-bind="type.name"></option>
</select>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="groups">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="groups.length == 0">
    <p><b>Aucun groupe trouvé</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade">
        <add-group-card></add-group-card>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="group in groups | filter:search">
        <group-card></group-card>
    </div>
</div>