<p style="margin-top: 1em;margin-bottom: 0.5em;"><b>Vos souhaits <span ng-show="documents.length > 0">(<span ng-bind="documents.length"></span> <span ng-show="documents.length == 1">document</span><span ng-show="wishes.length > 1">documents</span>)</span></b></p>

<div class="row" style="text-align: center; margin-top: 2em;" ng-hide="documents">
    <i class="fa fa-cog fa-spin" style="font-size: 3em;"></i>
</div>

<div class="row" style="text-align: center; margin-top: 2em;" ng-show="documents.length == 0">
    <p><b>Vous n'avez pas encore de souhaits.</b></p>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 card-fade" ng-repeat="document in documents track by $index">
        <my-wish-document-card></my-wish-document-card>
    </div>
</div>
