<div class="card document-card">
    <a href="" ng-click="toggleModal(document)">
        <img class="document-miniature" ng-src="{{document.full.SmallImage.URL}}" alt=""/>
    </a>
    <p>
        <a href="" ng-click="toggleModal(document)"
                data-toggle="tooltip"
                data-placement="top"
                title="{{document.name.length > maxlength ? document.name : ''}}"
                tooltip>
            <b>{{document.name | limitTo: maxlength }}{{ document.name.length > maxlength ? '...' : ''}}</b>
        </a>
    </p>
    <div class="menu-dropdown">
        <div style="position: relative;">
            <div class="btn-group">
                <button type="button"
                        class="button-card"
                        ng-click="addWishAmazonDocument(document.full.ASIN)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Ajouter aux souhaits" tooltip>
                    <i class="fa fa-heart-o"></i>
                </button>
            </div>
            <div class="btn-group">
                <button type="button"
                        class="button-card"
                        ng-click="addAmazonDocument(document.full.ASIN)"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Ajouter aux documents" tooltip>
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>