<a ng-href="{{member.detail}}" href="{{member.detail}}">
    <img ng-src="{{ member.profilePicture }}" alt="" style="height: 37px; border-radius: 40px; float: right;margin-left: 5px;"/>
</a>
<p><a ng-href="{{member.detail}}" href="{{member.detail}}"><b>{{member.name}}</b></a></p>