    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 1.3em;"><i class="fa fa-ellipsis-v"></i></a>
    <ul class="dropdown-menu" style="left: 53%;">
        <li><p style="text-align: center;"><b>Mes collections</b></p></li>
        <li ng-show="collections.length == 0" style="padding: 3px 0 3px 6px; border-bottom: 1px solid rgba(0,0,0,0.1);"><p>Aucune collection trouvée</p></li>
        <li ng-repeat="collection in collections" style="padding: 3px 0 3px 6px; border-bottom: 1px solid rgba(0,0,0,0.1);">
            <p><label><input type="checkbox" ng-model="checked" ng-checked="document.collection[collection.id]" ng-click="toggleDocumentMedia(collection.id, document.id, checked)"/> <span ng-bind="collection.name"></span></label></p></li>
    </ul>