<div class="card latest-comment-card">
    <p><b><a href="{{comment.document.detail}}"  data-toggle="tooltip" data-placement="top" title="{{comment.document.name.length > 20 ? comment.document.name: ''}}" ng-href="{{comment.document.detail}}" tooltip>
        <b>{{comment.document.name | limitTo: 20 }}{{ comment.document.name.length > 20 ? '...' : ''}}</b></a></b></p>
    <p style="margin-top: 0.5em;">{{comment.message | limitTo: 20}}{{ comment.message.length > 20 ? '...': ''}}</p>
</div>