<div class="card document-card">
    <document-base></document-base>
    <div class="menu-dropdown">
        <div style="position: relative;">
            <div class="btn-group">
                <button type="button" class="button-card" ng-click="addToCollection(document.id)" data-toggle="tooltip" data-placement="top" title="Ajouter aux documents" tooltip>
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>