<div class="card document-card">
    <document-base></document-base>
    <div class="menu-dropdown align-right">
        <div style="position: relative;">
            <div class="btn-group">
                <button type="button" class="button-card dropdown-toggle" data-toggle="dropdown" aria-expanded="false" data-toggle="tooltip" data-placement="top" title="Options" tooltip>
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-click="removeDocument(document.id)"><a href="">Supprimer de cette collection</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>