<div id="oauthsignin" ng-controller="OAuthSigninCtrl">

    <!-- TWITTER -->
    <a id="twitterSigninButton" href='{{twitterInfo.url}}'><img src='https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png'/></a>

    <!-- GOOGLE+ -->
    <div id="googleSigninButton">
            <span class="g-signin"
                    data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email "
                    data-clientid="{{googleInfo.CLIENT_ID}}"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="googleSigninCallback"
                    data-state="{{googleInfo.state}}">
            </span>
    </div>

    <!-- FACEBOOK -->
    <div id="fb-root" style="text-align: center">
        <fb:login-button id="facebookSigninButton" scope="public_profile,user_friends,email" onlogin="checkLoginState();"></fb:login-button>
    </div>

</div>