<div class="card media-card">
    <p><a ng-href="{{media.detail}}" href="{{media.detail}}"><b ng-bind="media.name"></b></a></p>
    <p>
        <span ng-show="media.documents.length > 0"><span ng-bind="media.documents.length"></span> <span ng-show="media.documents.length == 1">document</span><span ng-show="media.documents.length > 1">documents</span></span>
        <span ng-show="media.documents.length == 0">Aucun document</span>
    </p>
</div>