<div class="row">
    <div class="col-xs-6 col-lg-offset-3 col-lg-2">
        <select style="width: 100%; padding: 0.25em;" ng-model="filter">
            <option value="0">Tous</option>
            <option value="10">Livres</option>
            <option value="11">&nbsp;&nbsp;&nbsp;Titres</option>
            <option value="12">&nbsp;&nbsp;&nbsp;Auteurs</option>
            <option value="15">&nbsp;&nbsp;&nbsp;ISBN</option>
            <option value="20">Jeux Vidéos</option>
            <option value="30">Musique</option>
            <option value="31">&nbsp;&nbsp;&nbsp;Titres</option>
            <option value="33">&nbsp;&nbsp;&nbsp;Groupes</option>
            <option value="40">Films</option>
            <option value="41">&nbsp;&nbsp;&nbsp;Titres</option>
        </select>
    </div>
    <div class="col-xs-6 col-lg-4">
        <input type="text" ng-model="search" placeholder="Entrez votre recherche" style="width: 100%;"/>
    </div>
</div>
<p style="color: #ED5565;" ng-show="search.length < 4 && search.length > 0">4 caractères sont nécessaires pour lancer la recherche</p>