<div class="btn-group" ng-hide="document.inDocuments">
    <i class="fa fa-cog fa-spin" ng-show="document.wishLoading"></i>
    <button
            ng-hide="document.inWishlist || document.wishLoading"
            ng-click="addWish(document.id)"
            type="button"
            class="button-card"
            data-toggle="tooltip"
            data-placement="top"
            title="Ajouter aux souhaits"
            tooltip>
        <i class="fa fa-heart-o"></i>
    </button>
    <button ng-show="document.inWishlist && !document.wishLoading"
            ng-click="removeWish(document.id)"
            type="button"
            class="button-card"
            data-toggle="tooltip"
            data-placement="top"
            title="Retirer de mes souhaits"
            tooltip>
        <i class="fa fa-heart"></i>
    </button>
</div>